/* Css reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(159, 214, 68, 1);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

p {
  margin: 1rem;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  padding: 0 2rem;
  overflow: auto;
  max-width: 1100px;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 10px auto;
}

.big-card {
  margin: 5rem 10rem;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  background: #f4f4f4;
  box-shadow: 1px 1px 2.5px 2.5px #888;
  transform: scale(0.9);
  transition: transform 1s ease 0.5s;
}

.big-card:hover {
  transform: scale(1);
}

.text-center {
  text-align: center;
}

#main-content {
  margin-top: 2rem;
}

#main-content #title {
  font-size: 4rem;
  font-weight: bold;
}

#main-content #small-desc,
#main-content #img-div #img-caption {
  font-size: 1.2rem;
}
